.book-header {
  background-color: #808080;
  background: no-repeat center center;
  background-attachment: scroll;
  margin-bottom: 50px;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-image: url('../images/book-bg.jpg');
  height: 60px;
}

.book-page-title {
  text-align: center;
  margin-bottom: 45px;
}

.book-page-cover img {
  max-width: 100%;
}

.book-page-description p {
  font-size: 15px;
}

.list-separator {
  margin-top: 20px;
}
